body{
    background-image: url("https://media.istockphoto.com/id/1205872379/vector/abstract-background-of-smooth-curves.jpg?s=612x612&w=0&k=20&c=iSVtjNn-UVardlSWofafiwyoci93HEzvB647mz119EI=");
}
h3{
    margin-left: 50%;
    margin-top: 50%;

}